extends octlayout
block title
 |Dịch vụ
block content
 article  
  h3 Cung cấp phần mềm đóng gói
  p OCTECH xây dựng và phát triển các giải pháp phần mềm kế toán tài chính, giúp doanh nghiệp cải tiến hoạt động, tiết kiệm chi phí,nâng cao hiệu quả cạnh tranh trên thị trường.

  a(name="gia-cong")
  h3 Gia công phát triển phần mềm và dịch vụ phần mềm
  p Ngoài các phần mềm đóng gói do OCTECH phát triển, các dịch vụ phát triển phần mềm theo yêu cầu của khách hàng, OCTECH còn thực hiện gia công phần mềm quốc tế, thực hiện các dịch vụ phần mềm khác...
  ul.styledlist
   li Nâng cấp sản phầm phần mềm
   li Triển khai phần mềm ứng dụng
   li Chuyển đổi cơ sở dữ liệu
   li Triển khai phần mềm trên nhiều hệ thống điều hành và ngôn ngữ lập trình khác nhau
   
  a(name="tu-van")
  h3 Dịch vụ tư vấn triển khai giải pháp phần mềm
  p OCTECH chuyên tư vấn và triển khai các giải pháp phần mềm kế toán, tài chính, chứng khoán ứng dụng trong doanh nghiệp, giúp doanh nghiệp cải tiến hoạt động, tiết kiệm chi phí quản lý, nâng cao hiệu quả cạnh tranh trên thị trường.
  ul.styledlist
   li Giải pháp tích hợp ứng dụng
   li Số hóa quy trình nghiệp vụ