extends octlayout
block title
 |Giới thiệu
block content
 article
  h4 Kính gửi quý khách hàng
  .article-info
  p  Công ty cổ phần OCTECH chuyên xây dựng các sản phẩm phần mềm phục vụ thị trường tài chính Việt Nam.
   
  p Trong một thị trường đang phát triển với tốc độ rất nhanh và có nhiều đặc thù, các công ty chứng khoán Việt Nam cần các đối tác có khả năng tạo ra các sản phẩm phù hợp với thị trường, giúp định hướng tới các chuẩn quốc tế, cũng như sự sẵn sàng hỗ trợ cao mỗi khi có những biến đổi nhất định trong thị trường. 
   
  p Được thành lập từ năm 2008 bởi những sáng lập viên có nhiều kinh nghiệm trong lĩnh vực công nghệ và các ứng dụng trong thị trường chứng khoán thế giới, OCTECH mong muốn góp sức mình cho sự phát triển của thị trường tài chính Việt Nam bằng cách tạo ra các sản phẩm phần mềm giúp các công ty chứng khoán vận hành một cách hiệu quả và tin cậy, phù hợp với đặc thù của thị trường trong nước cũng như hướng tới các tiêu chuẩn quốc tế. Để đạt được điều đó, OCTECH dựa trên các giá trị cốt lõi lâu bền, đó là tinh thần đề cao chất lượng sản phẩm, chuyên nghiệp trong công việc, và sự tận tụy khi phục vụ khách hàng.
  
  p Với những nỗ lực không ngừng, OCTECH đã trở thành ISV đứng đầu thị trường về các giải pháp gateway, ví dụ có thể đưa lệnh của các công ty chứng khoán đến sở nhanh nhất. OCTECH cũng đang xây dựng và triển khai các sản phẩm khác như hệ thống Orders Routing and Management System (ORS), hệ thống giao dịch qua internet (Home Trading System), hệ thống quản lý danh mục đầu tư cho khách hàng PMS (Portfolio Management System). Thực tế cho thấy các sản phẩm của OCTECH đã được triển khai trên thị trường Việt Nam đều được khách hàng đánh giá rất cao về tất cả các thông số kĩ thuật quan trọng như độ ổn định, tốc độ, và khả năng chịu tải hệ thống. 
  p Chúng tôi xin gửi tới quý khách hàng lời chào trân trọng, và mong sớm được hợp tác với quý khách hàng.
   
