extends octlayout
block title
 |Ban lãnh đạo Công ty
block content
 article
  a(name="vu-viet-anh")
  h3 Ông Vũ Việt Anh - CEO
  p Ông Vũ Việt Anh là chuyên gia về messaging solution và middlewares và đã có 2 năm làm việc tại Tervela, một công ty hàng đầu về messaging trên Wall Street, New York, Mỹ. Ngoài những công nghệ mới tiếp thu được trong thời gian làm việc tại New York, việc tiếp xúc thường xuyên với các hệ thống tài chính hàng đầu thế giới như các hệ thống của Goldman Sach, Credit Suisse hay D.E.Shaw cũng đem lại cho ông những kinh nghiệm quý giá và một cái nhìn tổng quan về thiết kế của các hệ thống tài chính hiện đại.
  p Ông Vũ Việt Anh đạt giải nhất kì thi toán quốc tế (IMO) năm 1998. Ông tốt nghiệp đại học tại 2 trường đại học uy tín hàng đầu của Pháp là trường Đại học Bách khoa Paris (Ecole Polytechnique a Paris) và trường Đại học Công nghệ Viễn thông Quốc gia Paris (Ecole Nationale Superieure de Telecomunication). Ông lấy bằng master tại đại học Columbia, New York, Mỹ. 
  p Từ năm 2008 đến nay ông Vũ Việt Anh trực tiếp điều hành một số dự án quan trọng cho thị trường Việt Nam và đạt được nhiều thành công, như dự án phát triển gateway giao dịch trực tuyến của HOSE, dự án phát triển ORS, tư vấn cho sàn HNX trong việc triển khai giao dịch trực tuyến đã triển khai vào tháng 3 năm 2010, dự án phát triển gateway giao dịch trực tuyến của HNX và UPCOM. 

  a(name="nguyen-quoc-thang") 
  h3 Ông Nguyễn Quốc Thắng - Human Resource Manager
  p Ông Nguyễn Quốc Thắng tốt nghiệp Đại học Bách Khoa, khoa Toán – Tin, đạt giải nhì Toán Quốc Gia năm 1998.
  p Ông Nguyễn Quốc Thắng là chuyên gia về phân tích thiết kế database và công nghệ Microsoft. Ông Thắng có nhiều kinh nghiệm khi làm việc với các đối tác nước ngoài , tham gia các dự án outsources lớn như phát triển Gateway cho công ty SilverLake ( Malaysia) để triển khai dịch vụ ngân hàng tại một số ngân hàng lớn của Việt Nam như BIDV, Công Thương… tham gia dự án NextG (giá trị dự án 7 triệu USD) chuyển đổi toàn bộ ứng dụng chạy trên nền IBM sang Microsoft cho công ty dầu khí Petronas (Malaysia).
  p Ông Nguyễn Quốc Thắng giữ trách nhiệm định hướng, đảm bảo và nâng cao chất lượng của đội ngũ phát triển của OCTECH 

  a(name="nguyen-thai-ha") 
  h3 Ông Nguyễn Thái Hà - CTO
  p Ông Nguyễn Thái Hà lấy bằng PhD về Image and Video processing tại trường đại học hàng đầu của Mỹ về khoa học điện tử và máy tính University of Illinois at Urbana-Champaign (UIUC). Ông từng làm việc cho Sony tại Thung Lũng Silicon (San Jose, California, Mỹ) và đóng góp một số phát minh quốc tế trong lĩnh vực công nghệ. Hiện ông giữ trách nhiệm cập nhật, định hướng OCTECH những vấn đề về công nghệ mới cũng như những hướng phát triển mới của các hệ thống tài chính.
  p Ông Nguyễn Thái Hà đạt giải nhất kì thi toán quốc tế năm 1996. Ông tốt nghiệp đại học tại 2 trường đại học uy tín hàng đầu của Pháp là trường Đại học Bách khoa Paris (Ecole Polytechnique a Paris) và trường Đại học Công nghệ Viễn thông Quốc gia Paris (Ecole Nationale Superieure de Telecomunication).
   