extends octlayout
block title
 |Liên hệ
block content
 article
  h3 Công ty cổ phần OCTECH
  p 
   b Địa chỉ: 
   | Phòng 906 - F4 - Phố Trung Kính - Cầu Giấy - Hà Nội.
   br
   b Điện thoại: 
   | (04) 36-328-8087
   br
   b E-mail: 
   | info@octech.com.vn