extends octlayout
block title
 |Trang chủ
block content
 article
  h2 OCTECH Trading Platform  
  p
   | OCTECH là nhà cung cấp giải pháp IT cho các công ty chứng khoán hàng đầu Việt Nam.
   br
   | OCTECH là đối tác tin cậy của rất nhiều công ty chứng khoán lớn cũng như các quỹ đầu tư chuyên nghiệp
   br
   | OCTECH cung cấp giải pháp hoàn thiện cho hệ thống giao dịch điện tử bao gồm: 
   
 h3 Server Core solutions
 p Nền tảng cho toàn bộ hệ thống trading, được kết nối với các hệ thống gateway, sms, back office, front end.
 p Dựa trên nền tảng enterprise messaging solution, các gói tin đươc truyền tải nhanh, chính xác và không mất dữ liệu từ chỗ gửi đến chỗ nhận. Hỗ trợ tối đa khả năng customize, cũng như các interface để tích hợp với hệ thống khác. Quy trình tự động hóa giúp giảm thiểu công việc cho nhân viên vận hành.
 ul.styledlist
  li Công nghệ: Server Core được viết trên nền Java, sử dụng Postgresql database
  li Hiệu suất: 
   ul
    li Hệ thống được chạy load balancing, mỗi server có thể chịu tải được 2000 connections đồng thời
    li Hệ thống xử lý được 4000 ms/seconds
  li Hệ điều hành UNIX, LINUX, AIX
  li Giao tiếp:Hỗ trợ chuẩn giao tiếp FIX với các hệ thống khác

 h3 Front – End solutions 
 ul.styledlist
  li Cung cấp các tiện ích giao dịch với tốc độ cao
  li Kết nối trực tuyến với các sàn HOSE, HNX, UPCOM thông qua chuẩn FIX
  li Dễ dàng quản lý thông tin tài khoản khách hàng cũng như sử dụng các dịch vụ trực tuyến.
  li Các dịch vụ trực tuyến như chuyển tiền, ứng trước, cầm cố, margin...
  li Thông tin thị trường (feed data) được hiện thị trực tuyến với tốc độ cực nhanh.
  li Thiết lập các cơ chế cảnh báo.
 h3 Back – End solutions 
 ul.styledlist
  li Quản lý khách hàng: Tạo tài khoản khách hàng, cập nhật thông tin khách hàng
  li Quản lý giao dịch tiền: Nộp / rút tiền mặt, ứng trước, cho vay
  li Quản lý giao dịch: Xác nhận lệnh khớp, tra cứu lịch sử giao dịch
  li Quản lý tài khoản: Tra cứu thông tin tài khoản, in sao kê
  li Quản lý phí: Đăng ký biểu mẫu phí, tra cứu thông tin phí.
  li Lưu ký: Lưu quý chứng khoán, quyền cổ phiếu, quyền mua.
  li Báo cáo: Báo cáo giao dịch, lưu ký, lãi lỗ,..
  li Quản trị hệ thống: Bảo mật hệ thống, thay đổi thông số cấu hình, quan sát hoạt động hệ thống.