extends octlayout
block title
 |Tại sao chọn OCTECH
block content
 article
  h3 Tại sao chọn OCTECH
  p Trong một thị trường phát triển rất nhanh với nhiều đặc thù như thị trường chứng khoán Việt Nam, các công ty chứng khoán cần hệ thống công nghệ ổn định, có thể thực hiện real-time các nghiệp vụ chứng khoán cần thiết, và khả năng làm chủ hệ thống cao để thích ứng mỗi khi có sự thay đổi đến từ các sở giao dịch hay thị trường. 
  p Trong bối cảnh đó, OCTECH tự tin là một đối tác phù hợp với các công ty chứng khoán, với các thế mạnh sau:
  p
   b Chất lượng tốt: 
   | Với đội ngũ nhân sự được đào tạo bàn bản về công nghệ và sở hữu kinh nghiệm quý báu tại thị trường chứng khoán thế giới, OCTECH luôn hướng đến những sản phẩm chất lượng cao, có độ cạnh tranh vượt trội so với các sản phẩm cùng tính năng và mục đích sử dụng trên thị trường, kể cả các sản phẩm đến từ nước ngoài. Các phần mềm công ty làm ra đều được thiết kế cẩn thận với kiến trúc đã tham khảo kĩ lưỡng các hệ thống tương tự trên thế giới.Các thiết kế cũng dựa trên các chuẩn công nghệ của thị trường tài chính quốc tế, như chuẩn FIX 4.4, giúp cho việc vận hành và mở rộng của phần mềm được dễ dàng hơn cho khách hàng. OCTECH cũng không ngừng tham khảo, cập nhật những công nghệ mới nhất cũng như những hướng đi mới của các hệ thống tài chính trên thế giới để đưa vào ứng dụng cho các sản phẩm công ty.
  p 
   b Phù hợp với thị trường Việt Nam: 
   | OCTECH thiết kế các sản phẩm của mình dựa trên bài toán cụ thể của thị trường chứng khoán Việt Nam, không như các sản phẩm nước ngoài chỉ được thiết kế một cách tổng quát cho nhiều quốc gia. Do đó, các sản phẩm của OCTECH đáp ứng hoàn toàn được nhu cầu nghiệp vụ cũng như kĩ thuật của thị trường chứng khoán Việt Nam. Hơn thế nữa, với kinh nghiệm làm việc với hàng chục công ty chứng khoán trong nước đã đem lại cho OCTECH kinh nghiệm sâu sắc trong thị trường, giúp chúng tôi có thể cùng các bạn giải quyết các vấn đề về công nghệ đem lại hiệu quả cao nhất. 
  p
   b Dịch vụ bảo hành đảm bảo: 
   | Việc OCTECH hoàn toàn tập trung vào cung cấp phần mềm cho thị trường chứng khoán Việt Nam chứng tỏ sự cam kết lớn nhất của công ty với khách hàng. Chúng tôi liên tục cập nhật các sản phẩm của công ty cho khách hàng mỗi khi có những thay đổi, dù đến từ sở giao dịch, thị trường, hay các tiến bộ công nghệ. Ngoài ra, việc OCTECH là một công ty Việt Nam cũng đem lại những lợi thế lớn cho các công ty chứng khoán khi bảo hành sản phẩm,như khả năng đáp ứng nhu cầu nhanh, thuận tiện trong quá trình trao đổi và hợp tác, đi cùng với chi phí hợp lý.
