extends ../octlayout
block title
 |Sản phẩm: Back Office solutions
block content
 article
  h2 Back Office solutions
  .article-info
  p
   | Hỗ trợ tối đa khả năng customize, cũng như các interface để tích hợp với các hệ thống khác. Các quy trình được tự động hóa giúp giảm thiểu công việc cho nhân viên vận hành.
  p Hệ thống bao gồm các module sau:
  ul.styledlist
   li Quản lý khách hàng: Tạo tài khoản khách hàng, cập nhật thông tin khách hàng
   li Quản lý giao dịch tiền: Nộp / rút tiền mặt, ứng trước, cho vay
   li Quản lý giao dịch: Xác nhận lệnh khớp, tra cứu lịch sử giao dịch
   li Quản lý tài khoản: Tra cứu thông tin tài khoản, in sao kê
   li Quản lý phí: Đăng ký biểu mẫu phí, tra cứu thông tin phí.
   li Lưu ký: Lưu quý chứng khoán, quyền cổ phiếu, quyền mua.
   li Báo cáo: Báo cáo giao dịch, lưu ký, lãi lỗ,..
   li Quản trị hệ thống: Bảo mật hệ thống, thay đổi thông số cấu hình, quan sát hoạt động hệ thống.