extends ../octlayout
block title
 |Sản phẩm: Gateway
block content
 article
  h2 Gateway
  p Các công ty chứng khoán cần Gateway tới sở giao dịch hoạt động ổn định và có thể nhanh chóng thực hiện giao dịch. Điều này đặc biệt quan trọng vì các giao dịch này liên quan đến tài sản của khách hàng, và mỗi giao dịch không thành công (không được ghép lệnh) là một cơ hội bị bỏ lỡ cho cả khách hàng và các công ty chứng khoán.
  p OCTECH Gateway được biết đến rộng rãi trên thị trường như là sản phẩm có tốc độ đẩy lệnh nhanh nhất của thị trường, vượt trội thậm chí so với các core nước ngoài. Các công ty chứng khoán sử dụng OCTECH Gateway luôn là những đơn vị đầu tiên có lệnh vào sở trong các phiên ATO và ATC.Ngoài ra, độ ổn định của Gateway rất cao, có thể hoạt động hàng năm trời mà không yêu cầu các hoạt động vận hành. 
  p OCTECH Gateway là gateway đầu tiên trên thị trường Việt Nam hỗ trợ chuẩn FIX, một chuẩn thông dụng trong việc giao dịch trên các thị trường tài chính quốc tế. Sản phẩm được viết bới OCTECH team và được đăng kí với HOSE dưới tên ISV OCTECH. Đây là một trong những sản phẩm đầu tiên vượt qua các đợt test thử nghiệm của HOSE và được cấp giấy chứng nhận của HOSE cho việc giao dịch trực tuyến. 
  p OCTECH Gateway là hệ thống mở, có thể tích hợp với tất cả các core chứng khoán phổ biến trên thị trường.