extends ../octlayout
block title
 |Sản phẩm: Home Trading
block content
 article
  h2 Home Trading
  .article-info
  p Sản phẩm giúp các nhà đầu tư đặt lệnh trực tuyến vào các sở giao dịch trên thị trường Việt Nam. Đối với các công ty chứng khoán có nhiều khách hàng, việc thực hiện các lệnh đặt của khách hàng một cách nhanh chóng, thuận tiện và trực quan sẽ giúp tăng khối lượng giao dịch từ khách hàng mà không tốn chi phí hỗ trợ như các giao dịch trực tiếp. 
  p Hệ thống Home Trading System của OCTECH hỗ trợ nhà đầu tư trên các khía cạnh sau:
  ul.styledlist
   li Real time quotes/tickers: nhận dữ liệu thị trường real time
   li Real time charting: Vẽ đồ thị real time
   li Scriptings: Cho phép nhà đầu tư đặt các lệnh chờ tương ứng với một event của giá chứng khoán nào đó
   li Real time orders: Lệnh đặt sẽ ngay lập tức chuyển vào sở giao dịch và hiển thị kết quả nhận về từ sở trong thời gian vài chục ms.