extends ../octlayout
block title
 |Trang chủ
block content
 article
  h2 Gateway
  p Sản phẩm có tốc độ đẩy lệnh nhanh nhất của thị trường, vượt trội thậm chí so với các core nước ngoài. Độ ổn định cao, có thể hoạt động hàng năm trời mà không yêu cầu các hoạt động vận hành.
  a.button(href='san-pham/gateway') Read more

  h2 Order Routing System - ORS
  p Thực hiện quản lí và đặt lệnh vào các sàn giao dịch HSX, HNX và UPCOM. Với các công ty chứng khoán với số lượng người dùng lớn, làm sao để các đơn hàng của khách hàng và bộ phận kinh doanh có thể được kiểm tra, quản lý, và đẩy vào sở giao dịch trong thời gian thực.
  a.button(href='san-pham/ors') Read more

  h2 Home Trading System
  p Đối với các công ty chứng khoán có nhiều khách hàng, việc thực hiện các lệnh đặt của khách hàng một cách nhanh chóng, thuận tiện và trực quan sẽ giúp tăng khối lượng giao dịch từ khách hàng mà không tốn chi phí hỗ trợ như các giao dịch trực tiếp. 
  a.button(href='san-pham/home-trading') Read more

  h2 Back Office
  p Hỗ trợ tối đa khả năng customize, cũng như các interface để tích hợp với các hệ thống khác. Các quy trình được tự động hóa giúp giảm thiểu công việc cho nhân viên vận hành.
  a.button(href='san-pham/back-office') Read more