extends ../octlayout
block title
 |Sản phẩm: Order Routing System
block content
 article
  h2 Order Routing System
  p Thực hiện quản lí và đặt lệnh vào các sàn giao dịch HSX, HNX và UPCOM. Với các công ty chứng khoán với số lượng người dùng lớn, làm sao để các đơn hàng của khách hàng và bộ phận kinh doanh có thể được kiểm tra, quản lý, và đẩy vào sở giao dịch trong thời gian thực là một yêu cầu tối quan trọng, ảnh hưởng trực tiếp tới khách hàng cũng như uy tín của các công ty chứng khoán. 
  p Hệ thống ORS của OCTECH được thiết kế tuân thủ những chuẩn giao dịch được sử dụng bởi những trung tâm tài chính lớn nhất trên thế giới như chuẩn FIX giúp các hệ thống của công ty chứng khoán có thể dễ dàng kết nối với các sàn chứng khoán khắp nơi trên thế giới khi có nhu cầu. Hệ thống có hiệu năng và độ ổn định cao, có khả năng xử lý 5000 orders/s với độ trễ < 3ms. 
  p Với sự khác biệt rất lớn về hiệu năng của hệ thống so với các sản phẩm tương tự trên thị trường, OCTECH ORS đang được các công ty chứng khoán lớn đón nhận để nâng cao hiệu quả kinh doanh. Gần đây nhất, VNDirect là đơn vị triển khai OCTECH ORS. 
  p OCTECH Gateway là hệ thống mở, có thể tích hợp với tất cả các core chứng khoán phổ biến trên thị trường.